{% extends 'base.html' %}
{% block head %}
    <script language="JavaScript">
        const GET_QRCODE_API = '{{ url_for('get_code') }}';
        const GET_VALIDATION_API = '{{ url_for('get_validation') }}';
        const SET_ADDRESS_API = '{{ url_for('set_address') }}';
    </script>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="center new-task">
        <h2 class="title">{% block title %}添加任务{% endblock %}</h2>
        <div class="trans" id="set-addr">
            <label class="desc" for="address">请先输入定位地址</label>
            <input type="text" id="address" />
            <a class="btn" href="#" onclick="saveAddress()">保存地址</a>
        </div>
        <div class="trans hide" id="qrform">
            <p class="desc" id="now-address">未填写地址</p>
            <a href="#" onclick="rewriteAddress()">修改地址</a>
            <img class="qrcode trans" id="qrcode" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
            <p class="desc" id="status">等待脚本运行</p>
            <br>
            <a class="btn" href="#" onclick="loadQRCode()">刷新二维码</a>
        </div>
    </div>
{% endblock %}